<%inherit file="/homepage/templates/base.htm" />
<%!
import datetime

%>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<%block name="content">
<br>
<br>
<div><a href="/Account/SignUp.Create" class="btn btn-primary">Sign Up</a></div>
<div><strong>or login to user our services</strong></div>
<br>
<br>
<div><a href="/password_reset/" class="btn btn-primary">Reset Password</a></div>
<div class="modal fade" id="login_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Colonial Heritage Foundation</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<h1>${ warnings }</h1>
</%block>
</body>
</html>