<%inherit file="/homepage/templates/base.htm" />
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<%block name="content">
<h1>Please <a href="/Account/SignUp.Create">Sign up</a> to take advantage of our services</h1>

</%block>
<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/homepage/Users/">View All Users</a></li>
                <li><a href="">View Administrators</a></li>
                <li><a href="">View Managers</a></li>

            </ul>
        </nav>
    </div>
</%block>



</body>
</html>