<%inherit file="/homepage/templates/base.htm" />
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<%block name="content">
<div>
    <h3>Please enter account information below:</h3>
</div>
<div id = "form_container">
<form data-id="${ user.id }" id ="sign_up_form" method="POST" action="/Account/SignUp.loginform/${ request.urlparams[0] }">
<table>
        ${ form }
        <tr>
            <td><button type="submit" class="btn btn-primary">Submit</button></td>
        </tr>
</table>
</form>
</div>

</%block>
</body>
</html>