<%inherit file="base.htm" />
<%! import homepage.models as hmod %>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<%block name="content">
<table>
    <tr>
        <td>
<img src="http://provo-canyon-parks.weebly.com/uploads/8/4/9/4/8494501/6284450.jpg?400" />

        </td>
        <td>
            <div>
                <h2 class="event_detail">${ event.name }</h2>

                <div class="event_detail">${ event.description }</div>
                <div class="event_detail">${ event.start_date } through ${ event.end_date }</div>
            </div>
        </td>
    </tr>
</table>
<table class="table table-striped">
    %for area in areas:
    <% saleItems = hmod.SaleItem.objects.filter(area_ID=area) %>
    <tr>
        <td>
            <h3>${ area.name }</h3>
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>

    </tr>
    <tr>
        <td><div>${ area.description }</div></td>
        <td><div>${ area.coordinator_ID.first_name } ${ area.coordinator_ID.last_name }</div></td>
        <td><div>${ area.description }</div></td>
    </tr>
    <tr>
        <td>
            <h3>Items for Sale</h3>
        </td>
        <td>

        </td>
        <td>

        </td>

    %for SaleItem in saleItems:
        <tr>
    <td><div>${ SaleItem.name }</div></td>
    <td><div>${ SaleItem.description }</div></td>
    <td>$${ SaleItem.low_price }</td>
    </tr>
    %endfor
    %endfor


</table>

</%block>
<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/homepage/Events/">Events</a></li>

            </ul>
        </nav>
    </div>
</%block>

</body>
</html>