## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>



<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="description" content="Colonial heritage page website, store and information pages">
<meta name="keywords" content="Colonial,Heritage,Foundation,Utah,Historical,Reenactment,History,enrichment,generations">
<head>



    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
    <link rel="icon" type="image/x-icon"
          href="http://fc07.deviantart.net/fs70/f/2012/185/5/f/triforce_icon_free_to_use_by_kittyzelda64-d560tnh.png"/>

    <title>Colonial Heritage Foundation; Preserving History</title>

    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context) }

</head>


<body>
<%block name ="header">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/homepage">Colonial Heritage Foundation <small>preserving history</small></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">


                % if request.user.username != '':
                <li><a href="/homepage/Users/">Account</a></li>
                <li><a href="/Store/StoreView/">Store</a></li>
                <li><a href="/homepage/Events/">Events</a></li>
                <li><a href="/Store/WardrobeItem.get_late_items/" id="generate_report">Late Items</a></li>
                <li><a href ="/Account/logout">Logout</a></li>
                <li><a>Welcome: ${ request.user.username }</a></li>

                %else:
                <li><a id="show_modal" href="#" class="text-right">Login</a></li>


                %endif
                

            </ul>
        </div>
    </div>
</nav>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>
</%block>

<br>
<br>

<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                 <li><a href="/homepage/Events/">Events</a></li>
                <li><a href="/homepage/Users//">User Accounts</a></li>
                <li><a href="/Store/StoreView/">Store</a></li>
            </ul>
        </nav>
    </div>
</%block>
<div class="container-fluid">
    <div id="center" class="col-md-8">

        <%block name="content">


        </%block>
</div>
<%block name="footer">

</%block>
## render the JS with the same name as this page
${ static_renderer.get_template_js(request, context) }

<div class="modal fade" id="login_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

</body>
</html>