<%inherit file="base.htm" />
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<%block name="content">
<table>
<form method="POST">

    ${ form }
<button type="submit" class="btn btn-primary">Submit</button>
</form>

</table>

</%block>

<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/homepage/Users/">View All Users</a></li>


            </ul>
        </nav>
    </div>
</%block>
</body>
</html>