## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>

    <title>Colonial Heritage Foundation; Preserving History</title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon"
          href="http://fc07.deviantart.net/fs70/f/2012/185/5/f/triforce_icon_free_to_use_by_kittyzelda64-d560tnh.png"/>

    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context) }

</head>


<body>
<%block name ="header">
<div class="page-header">
    <h1>The Colonial Heritage Foundation
        <small>preserving history</small>
    </h1>
    <a href="/homepage/logout/">Logout</a>
</div>
</%block>

</div>

<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/homepage/Events/">Events</a></li>
                <li><a href="/Store/Store/">Store</a></li>
            </ul>
        </nav>
    </div>
</%block>
<div class="container-fluid">
    <div id="center" class="col-md-8">

        <%block name="content">


        </%block>
</div>
<%block name="footer">
<div class="jimbob">
    <p><a href="http://localhost:8000/homepage/terms/">terms and conditions</a></p>
</div>
</%block>
## render the JS with the same name as this page
${ static_renderer.get_template_js(request, context) }

</body>
</html>