<%inherit file="/homepage/templates/base.htm" />


<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Store/BulkProduct/">Bulk Products</a></li>
                <li><a href="/Store/PersonalProduct/">Personal Products</a></li>
                <li><a href="/Store/IndividualProduct/">Individual Products</a></li>
                <li><a href="/Store/WardrobeItem/">Wardrobe Item</a></li>
            </ul>
        </nav>
    </div>
</%block>

<%block name="content">
    <div>
     <img src="${ settings.STATIC_URL}/Store/media/images/Bulk${ blkProduct.id }.jpg"/>
        <div>
     <h1>${ blkProduct.name }</h1>
            </div>
        <div>
     <p>${ blkProduct.description}</p>
            </div>
        <div> $${ blkProduct.current_price }</div>
        <div>
        Quantity:<input type="number" id="qty${ blkProduct.id }" value="1">
        </div>
        <a class='add_button' pid_data="${ blkProduct.id }" href="/Store/ShoppingCart.add_bulk_to_cart/${ blkProduct.id }">Buy Now</a>
    </div>

</%block>

</body>
</html>