<%inherit file="/homepage/templates/base.htm" />


<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Store/BulkProduct/">Bulk Products</a></li>
                <li><a href="/Store/PersonalProduct/">Personal Products</a></li>
                <li><a href="/Store/IndividualProduct/">Individual Products</a></li>
            </ul>
        </nav>
    </div>
</%block>

<%block name="content">
<body>
<br>
<br>
<a href="/Store/BulkProduct.Create" class="btn btn-warning">Add item</a>
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity on hand</th>
        <th>Current Price</th>
        <th>Actions</th>
    </tr>
    %for BulkProduct in blkProducts:
    <tr>
        <td>${ BulkProduct.id }</td>
        <td>${ BulkProduct.name }</td>
        <td>${ BulkProduct.description }</td>
        <td>${ BulkProduct.quantity_on_hand }</td>
        <td>$${ BulkProduct.current_price }</td>
        <td> <a href="/Store/BulkProduct.edit/${ BulkProduct.id }">Edit</a> | <a href="/Store/BulkProduct.Delete/${ BulkProduct.id }">Delete</a>  </td>

    </tr>
    %endfor
</table>
</body>
</%block>
</html>