<%inherit file="/homepage/templates/base.htm" />
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<%block name="content">
<body>
<a href="/Store/BulkProduct.Create">Add item</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity on hand</th>
        <th>Current Price</th>
        <th>Actions</th>
    </tr>
    %for BulkProduct in blkProducts:
    <tr>
        <td>${ BulkProduct.id }</td>
        <td>${ BulkProduct.name }</td>
        <td>${ BulkProduct.description }</td>
        <td>${ BulkProduct.quantity_on_hand }</td>
        <td>$${ BulkProduct.current_price }</td>
        <td> <a href="/Store/BulkProduct.edit/${ BulkProduct.id }">Edit</a> | <a href="/Store/BulkProduct.Delete/${ BulkProduct.id }">Delete</a>  </td>

    </tr>
    %endfor
</table>
</body>
</%block>
</html>