<%inherit file="/homepage/templates/base.htm" />


<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Store/BulkProduct/">Bulk Products</a></li>
                <li><a href="/Store/PersonalProduct/">Personal Products</a></li>
                <li><a href="/Store/IndividualProduct/">Individual Products</a></li>
            </ul>
        </nav>
    </div>
</%block>

<%block name="content">
<br>
<br>
<a href="/Store/IndividualProduct.Create" class="btn btn-warning">Add item</a>
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date Made</th>
        <th>Current Price</th>
        <th>Action</th>
    </tr>
    %for IndividualProduct in indProducts:
    <tr>
        <td>${ IndividualProduct.id }</td>
        <td>${ IndividualProduct.name }</td>
        <td>${ IndividualProduct.description }</td>
        <td>${ IndividualProduct.date_made }</td>
        <td>${ IndividualProduct.current_price }</td>
        <td> <a href="/Store/IndividualProduct.edit/${ IndividualProduct.id }">Edit</a> | <a href="/Store/IndividualProduct.Delete/${ IndividualProduct.id }">Delete</a> </td>

    </tr>
    %endfor
</table>
</%block>
</body>
</html>