<%inherit file="/homepage/templates/base.htm" />


<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Store/BulkProduct/">Bulk Products</a></li>
                <li><a href="/Store/PersonalProduct/">Personal Products</a></li>
                <li><a href="/Store/IndividualProduct/">Individual Products</a></li>
                <li><a href="/Store/WardrobeItem/">Wardrobe Items</a></li>
            </ul>
        </nav>
    </div>
</%block>


<%block name="content">
<br>
<br>
<a href="/Store/PersonalProduct.Create" class="btn btn-warning">Add item</a>
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Current Price</th>
        <th>Instruction Form</th>
        <th>Production time in days</th>
        <th>Action</th>
    </tr>
    %for PersonalProduct in persProducts:
    <tr>
        <td>${ PersonalProduct.id }</td>
        <td>${ PersonalProduct.name }</td>
        <td>${ PersonalProduct.description }</td>
        <td>${ PersonalProduct.current_price }</td>
        <td>${ PersonalProduct.order_form_name }</td>
        <td>${ PersonalProduct.production_time }</td>
        <td> <a href="/Store/PersonalProduct.edit/${ PersonalProduct.id }">Edit</a> | <a href="/Store/PersonalProduct.Delete/${ PersonalProduct.id }">Delete</a>  </td>

    </tr>
    %endfor
</table>
</%block>
</body>
</html>