<%inherit file="/homepage/templates/base.htm" />

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<%block name="content">
    <div>
     <img src="${ settings.STATIC_URL}/Store/media/images/pers${ persProduct.id }.jpg"/>
        <div>
     <h1>${ persProduct.name }</h1>
            </div>
        <div>
     <p>${ persProduct.description}</p>
            </div>
        <div> $${ persProduct.current_price }</div>
        <a class="btn btn-warning" href="/Store/BulkItemDetail.add_to_cart/${ persProduct.id }">Buy Now</a>
    </div>

</%block>
<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Store/PersonalProduct/">Personal Products</a></li>
                <li><a href="/Store/BulkProduct/">Bulk Products</a></li>
                <li><a href="/Store/IndividualProduct/">Custom Products</a></li>
                <li><a href="/Store/WardrobeItem">Wardrobe Items</a></li>
                <li><a href="">Other Rental Items</a></li>
            </ul>
        </nav>
    </div>
</%block>
</body>
</html>