<%inherit file="/homepage/templates/base.htm" />
<%! import homepage.models as hmod %>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<%block name="content">
<div>
    Thank you for your order of:
</div>
<table class="table table-striped">
    <tr>
        <td>item</td>
        <td></td>
        <td>price</td>
        <td>quantity</td>


    </tr>
    <% total = 0 %>
    %for k in x:
    <tr>

        <% item = hmod.BulkProduct.objects.get(id=k) %>
        <% qty = x.get(k) %>

        <td>
            ${ item.name }
        </td>
        <td>
            ${ qty }
        </td>
        <td>
            $${ item.current_price }

        </td>
        <% total += (int(qty) * item.current_price) %>
    </tr>

    %endfor
    %for i in y:
    <tr>

        <% item = hmod.WardrobeItem.objects.get(id=k) %>

        <td>
            ${ item.name }
        </td>
        <td>
        </td>
        <td>
            $${ item.standard_rental_value }

        </td>
        <% total += item.standard_rental_value %>
    </tr>

    %endfor
    <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>$${ total }</td>


    </tr>

</table>

<div>Your card has been charged $${ total }</div>
<div>Your items will ship to the following address:</div>
<div></div>
<div><a class="btn btn-success" href="/Store/ShoppingCart.check_out/${ total }">Checkout</a> </div>
</%block>
</body>
</html>