<%inherit file="/homepage/templates/base.htm" />
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>+
<body>

<%block name="left">
<div class="row">
    <div id="left side" class="col-md-2">
        <nav>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Store/BulkProduct/">Bulk Products</a></li>
                <li><a href="/Store/PersonalProduct/">Personal Products</a></li>
                <li><a href="/Store/IndividualProduct/">Individual Products</a></li>
                <li><a href="/Store/WardrobeItem/">Wardrobe Items</a></li>
            </ul>
        </nav>
    </div>
</%block>

<%block name="content">
<br>
<br>
<a href="/Store/WardrobeItem.Create" class="btn btn-warning">Add Item</a>
<br>
<br>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Gender</th>
        <th>Modifier</th>
        <th>Pattern</th>
        <th>Start Year</th>
        <th>End Year</th>
        <th>Actions</th>
    </tr>

    %for WardrobeItem in wdbItems:
    <tr>
        <td>${ WardrobeItem.id }</td>
        <td>${ WardrobeItem.name }</td>
        <td>${ WardrobeItem.size }</td>
        <td>${ WardrobeItem.gender }</td>
        <td>${ WardrobeItem.size_modifier }</td>
        <td>${ WardrobeItem.pattern }</td>
        <td>${ WardrobeItem.start_year }</td>
        <td>${ WardrobeItem.end_year }</td>
        <td> <a href="/Store/WardrobeItem.edit/${ WardrobeItem.id }">Edit</a> | <a href="/Store/WardrobeItem.Delete/${ WardrobeItem.id }">Delete</a>  </td>

    </tr>
    %endfor
</table>
</%block>
</body>
</html>